body{
    margin: 0;
    background-color: rgb(232,232,232);

}

nav{
    background-image: linear-gradient(#517fa4, #306088);
    background-color: rgba(4,40,71,.8);
    height: 45px;
    color: white;

}

#home-button{
    padding-left: 20px;
    width: 100px;
    display: inline;
    line-height: 50px;
}

nav ul{
    float: right;
    display:inline-block;
    list-style-type: none;
    margin: 0;
    padding-right: 40px;
    overflow: hidden;
    font-size: 1.3em;
    font-family: Helvetica;
    color: inherit;
}

nav ul li {
    float: right;
    padding: 20px 6px 20px 6px;
    border-right: 1px solid rgba(255,255,255, .1);
}

a:link, a:visited {
    display:block;
    text-decoration: none;
    color: inherit;
}

a:hover, a:active{
    background-color: #517fa4;
}

.container {
    margin: 80px auto;
    width: 80%;
    min-width: 820px;
    max-width: 980px;
    padding: 10px 20px 20px 20px;
    border: 2px solid black;
}

img{
    width:27%;
    margin: 20px;
}

a {
    text-decoration: none;
}

.album-cover{
    display:inline;
}

.album-cover a{
    display:inline;
}

a:visited{
    text-decoration: none;
}

.title{
    margin: 0 auto;
}

img a {
    display:inline;
}


/*nav{
    height: 70px;
    background-color: rgb(240,240,240);
    background-image: gray;
}

body{
    margin: 0 auto;
    font-family: 'Alegreya';
    font-size: 1.6em;
    background-color: rgb(240,240,240);
    color: rgb(205,205,205);
}



th {
    text-align: left;
}

.inline{
    
}


.body-area{
    height: 200px;
    width: 50%;
}

.form{
        font-family: 'Alegreya';

    width:50%;
    height:80%;
}

a {
    color:rgb(205,205,205);
text-decoration: none;  
}

a:visited{
    text-decoration: none;
}*/