body{
    margin: 0;
}

nav{
    background-color: rgba(230,230,230, .8);
    height: 60px;
}

#home-button{
    padding-left: 20px;
    width: 100px;
    display:inline;
    line-height: 60px;
}

nav ul{
    float: right;
    display:inline-block;
    list-style-type: none;
    margin: 0;
    padding-right: 40px;
    overflow: hidden;
}

li {
    float: right;
    padding: 20px 0 20px 0;
}

a:link, a:visited {
    display:block;
    padding: 5px;
    text-decoration: none;
}

a:hover, a:active{
    background-color: rgb(240,240,240);
}

.container {
    margin: 80px auto;
    width: 90%;
    padding: 10px 20px 20px 20px;
    border: 2px solid black;
}

img{
    width:30%;
    margin: 20px;
}

a {
    text-decoration: none;
    color: rgb(120,120,120);
}

a:visited{
    text-decoration: none;
}

/*nav{
    height: 70px;
    background-color: rgb(240,240,240);
    background-image: gray;
}

body{
    margin: 0 auto;
    font-family: 'Alegreya';
    font-size: 1.6em;
    background-color: rgb(240,240,240);
    color: rgb(205,205,205);
}



th {
    text-align: left;
}

.inline{
    
}


.body-area{
    height: 200px;
    width: 50%;
}

.form{
        font-family: 'Alegreya';

    width:50%;
    height:80%;
}

a {
    color:rgb(205,205,205);
text-decoration: none;  
}

a:visited{
    text-decoration: none;
}*/