
.container {
    margin: 80px auto;
    width: 90%;
    padding: 10px 20px 20px 20px;
    border: 2px solid black;
}


/*nav{
    height: 70px;
    background-color: rgb(240,240,240);
    background-image: gray;
}

body{
    margin: 0 auto;
    font-family: 'Alegreya';
    font-size: 1.6em;
    background-color: rgb(240,240,240);
    color: rgb(205,205,205);
}



th {
    text-align: left;
}

.inline{
    
}


.body-area{
    height: 200px;
    width: 50%;
}

.form{
        font-family: 'Alegreya';

    width:50%;
    height:80%;
}

a {
    color:rgb(205,205,205);
text-decoration: none;  
}

a:visited{
    text-decoration: none;
}*/