%html
  %body
    %h2 Upload a photo!
    %form(method="post" enctype='multipart/form-data')
      %input(type='text' name='photo_name' placeholder='Name your photo!')
      %br
      %br
      %input(type='text' name='location' placeholder='Where was it taken?')
      %br
      %br
      %textarea(name='description' rows='5' placeholder='Care to add a description?')
      %br
      %input(type='file' name='upload_photo')
      %br
      %br
      %input(type='submit' value='Upload!')





