<h1> Albums <h1>

<%@albums.each do |album| %>
	
	<a href="<%=album_url(album)%>"> <%= album.name %></a>
<%end%>

<!-- button goes to album -->
<form method="POST" action="/albums/id">
<input type="submit" value="show album">
</form>