<!-- <h1> Albums </h1> -->
<%@albums.each do |album| %>
	<!-- hacky and wrong. Refactor -->

	<div class="album box"><div class = "innerContent"><a href="<%=album_url(album)%>"> <img src="data:image/png;base64, <%=encode(Photo.find_by(album_id: album.id)) if !Photo.find_by(album_id: album.id).nil?%>"></a> </div>
<%end%>
