<%@albums.each do |album| %>
	<div class="box">
		<div class = "boxInner"><img class="cover" src="data:image/png;base64, <%=encode(album.photos.first) if !album.photos.empty?%>">		
			<div class ="titleBox">
				<a href="<%=album_url(album)%>"><%=album.name%></a>
			</div>
		</div>
	</div>
<%end%>


