<!-- show a single album with it's photos -->

<!-- single album view -->
<h1><%=@album.name%></h1>


<% @photos.each do |photo| %>
<img alt="Embedded Image" src="data:image/png;base64,<%=encode(photo)%>"/>

<%end%>
