<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../public/favicon.ico" rel="icon" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>
    <title>$WAGSTAGRAM</title>
  </head>
  <body class="no-touch">
    <nav>
      <ul>
        <!-- refactor this into partials -->
        <%if current_user%>
          <li><a href="/logout">Sign out</a></li>
          <li><a href="/albums/new">Create Album</a></li>
          <li><a href="/users/<%=current_user.id%>/albums">My Albums</a></li>
          <li><a href="/photos/upload">Upload a photo</a></li>
        <%else%>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Sign in</a></li>
        <%end%>
        <li id ="home-button"><a href = "/"> $WAGSTAGRAM </a></li>
      </ul>
    </nav>
    <div class ="wrapper">
      <div class="entry-error"><%= flash[:error] if flash[:error] %></div>
      <%= yield %>
      </div>
  </body>
</html>
